
.avatar {
	border-radius: 10%;
}

.buttonWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: aqua;
}


.loginButton {
	display: flex;
	justify-content: center;
	color:#3fa54bed;
	align-items: center;
	background-color: blueviolet;
}
