.game {
	margin: 10px;
	border: 2px solid black;
}

.icon {
	border: 2px solid #ddd;
	border-radius: 20%;
	width: 300;
	height: 250;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	margin-right: 20px;
}

.background_app {
	min-width: 480px;
}
