
.game {
	margin: 10px;
	border: 2px solid black;
}

.icon {
	border: 2px solid #ddd;
	border-radius: 20%;
	width: 300;
	height: 250;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	margin-right: 20px;
}

.profile_avatar {
	border: 10px solid #ddd;
	border-radius: 60%;
	width: 300;
	height: 250;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.buttonWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: aqua;
}

.loginButton {
	display: flex;
	justify-content: center;
	color:#3fa54bed;
	align-items: center;
	background-color: blueviolet;
}

