@use '/app/src/style/color' as c;

.canvas_wrap {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.player_card {
	color: white;
	background-color: white;
	width: 12vw;
	max-height: 39vw;
}

.score {
	color: c.$primary;
	font-size: 5vw;
}

.in_game_card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.el_pongo {
	padding: 0.8vw;
	padding-left: 3vw;
	overflow-wrap: break-word;
	//font-size: 6rem;
	font-size: 7.4vw;
	line-height: 1;
	color: c.$secondary;
}

.demo {
	//position: absolute;
	z-index: 1;
}

.forfeit_button {
	padding: 8px;
	color: white !important;
	letter-spacing: 1px;
	background-color: rgba(190, 40, 40, 0.953) !important;
}

////////////compenent with canvas////////////

.canvas_container {
	position: relative;
}

.classique {
	background-color: #625d6a9f;
	outline: 4px solid c.$teritary;
	margin: 5px;
	width:70vw;
	height: 39.375vw;
	z-index: 1;
}

.prompt_wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	opacity: 100%;
	font-size: 2vw;
}

.fade {
	opacity: 0%;
	transition-property: opacity;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 450ms;
}

.get_ready {
	position: relative;
	display: flex;
	justify-content: center;
	color: white;
	font-size: 5vw;

	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

  	color: white;
}

.key {
	position: absolute;
	background: none;
	border: 3px solid;
	color: white;
}

.splatkey {
	position: absolute;
	background: none;
	border: 3px solid;
	color: black;
}

.blinking {
	animation: blinker 1.3s linear infinite;
}

@keyframes blinker {
	50% {
	  opacity: 0;
	}
  }
