@use '/app/src/style/color' as c;

.profile_page	{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.profile_top {
	margin-bottom: 40px;
	height: 20vh;
}

.profile_image {
	justify-self: center;
}

.profile_username {
	font-family: 'Poppins';
	font-size: 4rem;
	border-radius: 4px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	justify-self: center;
	color: white;
}

.profile_score {
	margin-bottom: 32px;
	height: 16vh;
	place-items: center;
}

.victory_p {
	color: green;
	font-family: 'Poppins';
	font-size: 4vh;
}

.defeat_p {
	color: red;
	font-family: 'Poppins';
	font-size: 4vh;
}

.score_p {
	font-size: 4vh;
	color: c.$primary;
}

.profile_mh {
	background-color: white;
	justify-items: center;
	margin-bottom: 32px;
}

.profile_mh_header {
	font-family: 'Poppins';
	font-size: 2rem;
	display: flex;
	justify-content: center;
}
