@use '/app/src/style/color' as c;

.profile_page	{
	overflow: auto;
}

.profile_top {
	margin-bottom: 32px;
}

.profile_image {
	justify-self: center;
}

.profile_username {
	font-family: 'Poppins';
	font-size: 3rem;
	// border: 4px solid green;
	border-radius: 4px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	justify-self: center;
	color: white;
}

.profile_score {
	margin-bottom: 32px;
	height: 96px;
	place-items: center;
}

.victory_p {
	color: green;
	font-family: 'Poppins';
	font-size: 40px;
}

.defeat_p {
	color: red;
	font-family: 'Poppins';
	font-size: 40px;
}

.score_p {
	font-size: 40px;
	color: c.$primary;
}

.profile_mh {
	background-color: white;
	justify-items: center;
	margin-bottom: 32px;
}

.profile_mh_header {
	font-family: 'Poppins';
	font-size: 2rem;
	display: flex;
	justify-content: center;
}

.profile_mh_score {
	font-family: 'Poppins';
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
}
