@use '/app/src/style/color' as c;

.settings_bg {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.20);
	backdrop-filter: blur(2px);
	top: 0;
	width: 100%;
	height: 100%;
}

.settings_box {
	background-color: c.$primary !important;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	font-family: 'Poppins';
	position: relative;
}

.close_button {
	position: absolute;
	top: 0.2rem;
	right: 0.5rem;
	justify-content: end;
	margin-bottom: 4px;
}

.settings_option {
	margin: 2rem;
}

.settings_text {
	font-size: 1.5rem;
	color: c.$secondary;
	text-underline-offset: 2px;
	padding-bottom: 4px;
	filter: brightness(0.7)
}

.settings_option input[type=text]:focus {
	border: 2px solid black;
}

input[type=file]::file-selector-button {
	background-color: c.$primary;
	filter: brightness(1.3) !important;
	color: black;
	border: 2px solid black;
	border-radius: 4px;
}

.username_input {
	background-color: white;
	border: 2px solid gray;
  	border-radius: 4px;
	outline: none;
}


.update_button {
	height: 1.5rem;
	border-radius: 0.25rem; /* 4px */
	box-shadow: 0 0 0 0.100rem rgba(0, 0, 0, 1);
	background-color: c.$primary;
	filter: brightness(1.3) !important;
}

.qr_code {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}
