@use '/app/src/style/color' as c;

.basic {
	display: flex;
	justify-content: space-evenly;
}

.container_m {
	border: 4px solid c.$teritary;
	border-radius: 4px;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.avatar {
	display: flex;
	justify-content: center;
	margin-top: 8px;
	margin-bottom: 8px;
}

.font {
	color: white;
	display: flex;
	justify-content: center;
	margin-bottom: 8px;
}
