.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.centered_404 {
	position: fixed;
	margin-top: auto;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}