$primary_color: #fad390;

.everyone_username {
	background-color: $primary_color !important;
	width: 200px;
	height: 36px;
	padding-top: 5px;
	padding-bottom: 3px;
	display: flex;
	justify-content: center;
}

.everyone_list {
	overflow: auto;
	max-height: 86.3vh;
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(808px, 1fr));
}

.profile_element {
	margin: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.status {
	padding-left: 8px;
	padding-right: 8px;
}

.gaming_button {
	grid-column: 1/3;
	padding-left: 15px;
	padding-right: 15px;
}

@media screen and (max-width: 1775px){
	.everyone_list {
		grid-template-columns: none;
	}

	.profile_element {
		display: flex;
		flex-wrap: wrap;
		justify-content:space-around;
	}

	.everyone_username {
		display: flex;
		justify-content: center;
	}

	.status {
		padding-left: 8px;
		padding-right: 8px;
	}
}

@media screen and (max-width: 900px) and (min-width: 590px){

	.gaming_button {
		grid-column: 1/6;
		padding-left: 30px;
	}

	.message_button {
		grid-column: 2/3;
	}

}
