@use '/app/src/style/color' as c;

.everyone_username {
	background-color: c.$primary !important;
	width: 200px;
	height: 36px;
	padding-top: 5px;
	padding-bottom: 3px;
	display: flex;
	justify-content: center;
}

.everyone_list {
	overflow: auto;
	max-height: 86.3vh;
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(808px, 1fr));
}

.everyone_list > div {
	margin-bottom: 0px;
}

.profile_element {
	margin: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.status {
	padding-left: 8px;
	padding-right: 8px;
}

.button_group {
	padding: 0.5rem;
	display: grid;
	grid-template-columns: repeat(5, minmax(0, 1fr));
	color: c.$primary;
}

.gaming_button {
	grid-column: 1/3;
	padding-left: 15px;
	padding-right: 15px;
	color: white;
}

.nobody {
	height: 36px;
	margin: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 1775px){
	.everyone_list {
		grid-template-columns: none;
	}

	.profile_element {
		display: flex;
		flex-wrap: wrap;
		justify-content:space-around;
	}

	.everyone_username {
		display: flex;
		justify-content: center;
	}

	.status {
		padding-left: 8px;
		padding-right: 8px;
	}
}

@media screen and (((max-width: 915px) and (min-width: 590px)) or (max-width: 490px)){

	.gaming_button {
		grid-column: 1/6;
		padding-left: 30px;
	}

	.message_button {
		grid-column: 2/3;
	}

}
