$primary_color: #fad390;

.background_primary {
	background-color: $primary_color;
	background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23786fa6' fill-opacity='0.14' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
	// background-size: inherit;
	// background-size: 100vw auto;
	// background-size : 100% 100%
	min-height: 100vh;
}

.background_secondary {
	background-color: #fad390;
	background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23a55eea' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.background_box_login {
	background-color: #ffffff;
	background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23fad390' fill-opacity='0.14' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.box_login {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 288px;
	height: 500px;
	box-shadow: 0 0 0 0.200rem rgba(0, 0, 0, 1);
	font-family: 'Poppins';
}

.title_box {
	display: flex;
	justify-content: center;
	font-size: 1.875rem; /* 30px */
	line-height: 2.25rem; /* 36px */
	font-family: 'Poppins';
	font-weight: 700;
	margin-bottom: 32px;
}

.form_box {
	display: flex;
	justify-content: center;
	font-size: 1.225rem; /* 30px */
	line-height: 2.25rem; /* 36px */
	font-family: 'Poppins';
	font-weight: 700;
	margin-bottom: 32px;
	::placeholder {
		text-align: center; 
	}
}

.input_box {
	display: flex;
	justify-content: center;
	font-size: 1.225rem; /* 30px */
	line-height: 2.25rem; /* 36px */
	font-family: 'Poppins';
	font-weight: 700;
	border-radius: 0.25rem; /* 4px */
	box-shadow: 0 0 0 0.100rem rgba(0, 0, 0, 1);
	width: 200px;
}

.input_box:focus {
	outline: black;
	box-shadow: 0 0 0 0.150rem rgba(0, 0, 0, 1);
	caret-color: transparent;
}

.button_box {
	display: flex;
	justify-content: center;
}

.button_login {
	background-color: $primary_color;
	display: flex;
	justify-content: center;
	font-size: 1.5rem; /* 24px */
	line-height: 2rem;	/* 32px */
	border-radius: 0.25rem; /* 4px */
	box-shadow: 0 0 0 0.200rem rgba(0, 0, 0, 1);
	width: 140px;
	margin-bottom: 32px;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
	font-family: 'Poppins';
}

.button_login_bis {
	margin-bottom: 0;
}

.divider {
	border: none;
  	height: 0.200rem;
 	background-color: black;
	margin-bottom: 32px;
}
