@use '../../style/color' as c;

.classique {
	background-color: black;
	outline: 2px solid white;
	margin: 0px;
}

.game {
	background-color: c.$secondary;
	outline: 2px solid c.$teritary;
	margin: 0px;
}

