@use '/app/src/style/color' as c;

.menu_container {
	position: relative;
}

.menu_wrapper {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.main_menu{
	background-color: rgb(196, 187, 212) !important;
	outline: 4px solid c.$primary;
	border-color: c.$primary;
	width:35vw;
	height: 20vw;
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
}

.menu_select {
	display: flex;
	width: 100%;
	//overflow: hidden;
	outline: 2px solid c.$primary;
}

.menu_select > Button {
	color: c.$secondary;
	background-color: inherit;
	height: 4.965vw;
	border: 0px !important;
	justify-content: space-between;
}

.menu_select > Button:hover{
	background-color: c.$primary;
	filter: brightness(1.1);
}

.button_focus {
	background-color: c.$primary !important;
	filter: brightness(1.2);
}

.menu_buttons {
	grid-column: 2/3;
	grid-row: 1 / span 2;
	border-left: 4px solid;
	border-color: inherit;
	display: flex;
	flex-direction: column;
	// justify-content: center;
}

.menu_buttons > button {
	margin: auto;
	font-size: 3vw;
	height: min-content;
	width: min-content;
	color: c.$secondary;
	background-color: c.$primary;
	filter: brightness(1.2);
}

.menu_buttons > Button:hover{
	background-color: c.$primary;
	filter: brightness(1.1);
}

.defy {
	margin: auto;
	background-color: c.$primary;
	height: 11vw;
	width: 15vw;
}

