@use '/app/src/style/color' as c;

.canvas_wrap {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.player_card {
	color: white;
	background-color: white;
	width: 12vw;
	max-height: 39vw;
}

.in_game_card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.el_pongo {
	padding: 0.8vw;
	padding-left: 3vw;
	overflow-wrap: break-word;
	//font-size: 6rem;
	font-size: 7.4vw;
	line-height: 1;
	color: c.$secondary;
}

.classique {
	background-color: #625d6a9f;
	outline: 4px solid c.$teritary;
	margin: 5px;
	width:70vw;
	height: 39.375vw;
	z-index: 1;
}

.demo {
	//position: absolute;
	z-index: 1;
}

.menu_container {
	position: relative;
}

.menu_wrapper {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.menu{
	background-color: rgb(196, 187, 212) !important;
	outline: 4px solid c.$primary;
	border-color: c.$primary;
	width:35vw;
	height: 20vw;
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
}

.menu_buttons {
	grid-column: 2/3;
	grid-row: 1 / span 2;
	border-left: 4px solid;
	border-color: inherit;
	display: flex;
	flex-direction: column;
	// justify-content: center;
}

.menu_buttons > button {
	margin: auto;
	font-size: 3vw;
	height: min-content;
	width: min-content;
	color: c.$secondary;
	background-color: c.$primary;
	filter: brightness(1.2);
}

.menu_buttons > Button:hover{
	background-color: c.$primary;
	filter: brightness(1.1);
}

.defy {
	margin: auto;
	background-color: c.$primary;
	height: 11vw;
	width: 15vw;
}

.forfeit_button {
	padding: 8px;
	background-color: rgba(190, 40, 40, 0.953) !important;
}

.menu_select {
	display: flex;
	width: 100%;
	//overflow: hidden;
	outline: 2px solid c.$primary;
}

.menu_select > Button {
	color: c.$secondary;
	background-color: inherit;
	height: 4.965vw;
	border: 0px !important;
	justify-content: space-between;
}

.menu_select > Button:hover{
	background-color: c.$primary;
	filter: brightness(1.1);
}

.button_focus {
	background-color: c.$primary !important;
	filter: brightness(1.2);
}
