@use '/app/src/style/color' as c;

.us {
	display: flex;
	justify-content: space-around;
}

// .home > div {
// 	flex:auto;
// 	min-width: 46vw;
// }

.left_elem {
	margin-right: 10px;
	color: c.$primary;

}

.list_container {
	border: 4px solid c.$teritary;
	border-radius: 4px;
	margin-bottom: 20px;
	// max-height: 226px;
}

.MuiList-padding {
	padding: 0 !important;
}

@media screen and (max-width: 590px){

	.home {
		flex-wrap: wrap;
	}

}
