$primary_color: #fad390;

// .background_profile_image {
// 	background-color: white;
// 	width: 288px;
// }

.profile_top {
	margin-top: 32px;
	padding-right: 0.600rem;
	margin-bottom: 32px;
}

.profile_image {
	margin-left: 0.300rem;
	margin-left: 0.300rem;
	width: 512px;
	box-shadow: 1px 2px 4px 0.100rem black;
	border-radius: 0.25rem;
	border-color: white;
}

.profile_username {
	font-family: 'Poppins';
	font-size: 3rem;
	padding-right: 15%;
	padding-left: 128px;
	background-color: white;
	border-radius: 0.25rem;
	border-color: white;
	box-shadow: 1px 2px 4px 0.100rem black;
	justify-self: center;
}
