.chat-page {
	display: flex;
	height: 86vh;
	background-color: grey;
	border-radius: 20px;
}

.list-conv {
	flex-basis: 20%;
	flex-grow: 0;
	flex-shrink: 0;
	order: 0;
	overflow: scroll;
	border: black 1px solid;
}

.chatting {
	display: flex;
	flex-basis: 60%;
	flex-grow: 0;
	flex-shrink: 0;
	border: black 1px solid;
	order: 1;
}

.list-member {
	flex-basis: 20%;
	flex-grow: 0;
	flex-shrink: 0;
	border: black 1px solid;

	order: 2;
}

.big-chan-nav, .lil-chan-nav {
	display: flex;
	flex-basis: 100%;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;

}

.big-chan-nav > button {
	flex-basis: 45%;
	flex-grow: 0;
	flex-shrink: 0;
	color: blueviolet;
}

.lil-chan-nav > button {
	flex-basis: 45%;
	flex-grow: 0;
	flex-shrink: 0;
}

.lil-chan-nav > button, .list-conv > button{
	background-color: #04AA6D;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 16px;
	border-radius: 20px;
	margin: 4px 2px;
	height: 5em;
	width: 95%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
	margin-left: 10px;
}

.button-conv > p {
	padding-left: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.inside-button-conv {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.lil-chan-nav > button:hover, .list-conv > button:hover {
	background-color: #3e8e41;
}

.focused {
	background-color: red !important;
}

.create-channel-popup {
	border: blueviolet 1px solid;
}