.chat-page {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: normal;
	align-items: normal;
	align-content: normal;
}

.list-conv {
	justify-content: flex-start;
	display: block;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: auto;
	align-self: auto;
	order: 0;
}


.chatting {
	display: block;
	flex-grow: 9;
	flex-shrink: 0;
	flex-basis: auto;
	align-self: auto;
	order: 0;
}

.list-conv-flex {	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px;
	overflow-y: scroll;
	border-bottom: 1px solid #ccc;
}

.MuiButton-conv {
	background-color: #04AA6D;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 16px;
	border-radius: 50%;
	margin: 4px 2px;

	/* margin-bottom: 15px;
	width: 150px;
	height: 150px;
	line-height: 150px;
	border-radius: 50%;
	font-size: 15px;
	color: #fff;
	text-align: center;
	background: #000 */
}




/* 
#conv-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px;
	overflow-y: scroll;
	border-bottom: 1px solid #ccc;
}


#conv-item > * {
	margin-bottom: 15px;
	width: 150px;
	height: 150px;
	line-height: 150px;
	border-radius: 50%;
	font-size: 15px;
	color: #fff;
	text-align: center;
	background: #000
}
*/
