$primary_color: #fad390;

.nav_bar {
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	box-shadow: 0 0 0 0.100rem $primary_color;
	border-radius: 0.25rem; /* 4px */
	flex-wrap: wrap;
	font-family: 'Poppins';
}

.nav_bar_img {
	border-radius: 0.25rem; /* 4px */
	width: 128px;
}

.nav_bar_link {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.nav_bar_link_a {
	color: $primary_color;
	margin-right: 12px;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
}

.nav_bar_link_p {
	margin-right: 12px;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
}

.nav_bar_link_p:hover {
	opacity: 0.6;
	scale: (1.1);
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
}

.nav_bar_avatar_a {
	scale: (1.1);
	border-color: $primary_color;
	border-width: 2px;
	border-radius: 9999px;
	margin-right: 12px;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
}

.nav_bar_avatar_p {
	margin-right: 12px;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
}

.nav_bar_avatar_p:hover {
	opacity: 0.6;
	scale: (1.1);
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
}
